* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.digital-clock {
  display: flex;
  color: #fff;
  background-color: #000;
  border-radius: 2rem;
  user-select: none;
  padding: 0.2rem;
  border: 0.5rem solid #2d2d2d;
}

.week {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 3rem;
  color: #2d2d2d;
  font-weight: bold;
}

.week .active {
  color: white;
}

.time {
}

.hour,
.minute,
.dot {
  display: inline-block;
  font-size: 13rem;
}

.minute {
  display: math;
}

.visible {
  visibility: hidden;
}
